body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000022;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
    background-image: url('moving_stars_background.gif'); /* Replace with the actual path to your image */

}

header {
    background-color: #1a2a40;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeButton {
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #4FD5FF;
    color: #0e0e0e; /* Yellow text color */
    font-weight: bold; /* Thicker font */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

#homeButton:hover {
    background-color: #FFD700;
    color: #000022;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

section {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select {
    color: #FFFFFF;
    background-color: #1a2a40;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.submit-container {
    display: flex;
    justify-content: center;
}

button {
    color: #FFFFFF;
    background-color: #1a2a40;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #14233c;
}


h1, h2 {
    font-family: 'Lucida Console', 'Lucida Sans Typewriter', monospace;
    color: #FFD700;
}


.output-container {
    margin-top: 20px;
    background-color: #000022; /* Dark blue background color */
    color: #FFFFFF; /* White text color for contrast */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    width: 80%; /* Adjust the width as needed */
    max-width: 600px; /* Adjust max width as needed for responsiveness */
    text-align: center; /* Center the text inside the container */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box; /* Ensures padding does not add to the set width */
}

#output {
    word-wrap: break-word; /* Ensures the text fits within the container */
}
