body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}



.space {
    background-color: #0a0f32; /* Purplish background */
    background-image: url('moving_stars_background.gif'); /* Moving stars GIF */
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits text color from parent elements */
}

.earth {
    position: absolute;
    bottom: 100px; /* Move it upwards by increasing the bottom value */
    left: 50px; /* Move it to the right by increasing the left value */
    width: 300px; /* Make the image bigger */
    height: auto;
    border-radius: 50%; /* Keeps the corners circular */
}


.space-header {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.title-button {
    display: inline-block; /* Allows the use of padding and margin */
    font-size: 48px;
    background-color: transparent;
    color: white;
    padding: 20px 0;
    margin: 0 auto;
    cursor: default;
}


.space-button, .space-button-two, .space-button-three {
    background-color: #a394bf; /*Light purple background*/
    color: white;
    width: 250px;
    border: 2px solid transparent; /* Transparent border by default */
    padding: 20px 40px; /* Adjust padding for desired size */
    font-size: 20px; /* Adjust font size for better readability */
    cursor: pointer;
    transition: border-color 0.3s; /* Smooth transition for hover effect */
    border-radius: 20px; /* Rounded corners */
    margin: 10px 0; /* Space between buttons vertically */
}


.space-button:hover, .space-button-two:hover {
    border-color: white; /* White border on hover */
}






